/.deps
/autom4te.cache
/configure.in
/ltmain.sh
/libs.mk
/scan_makefile_in.awk
/Makefile*
/ac*.m4
/config.*
/configure
/install-sh
/libtool
/missing
/mkinstalldirs
/run-tests.php
/*.lo
/*.la

/.libs
/build
/modules